---
apiVersion: v1
kind: ConfigMap
metadata:
  name: caddyfile-config
data:
  Caddyfile: |
    http://kavita.kanbaru.home {
      encode gzip
      reverse_proxy /* kavita:5000 {
        header_up X-Forwarded-Host {host}:5000
        header_up -Origin
        header_up -Referer
      }
    }

    http://nextcloud.kanbaru.home {
      reverse_proxy /* nextcloud:80 {
        header_up X-Forwarded-Host {host}:80
        header_up -Origin
        header_up -Referer
      }
    }

    http://sonarr.kanbaru.home {
      reverse_proxy /* sonarr:8989 {
        header_up X-Forwarded-Host {host}:8989
        header_up -Origin
        header_up -Referer
      }
    }

    http://radarr.kanbaru.home {
      reverse_proxy /* radarr:7878 {
        header_up X-Forwarded-Host {host}:7878
        header_up -Origin
        header_up -Referer
      }
    }

    http://prowlarr.kanbaru.home {
      reverse_proxy /* prowlarr:9696 {
        header_up X-Forwarded-Host {host}:9696
        header_up -Origin
        header_up -Referer
      }
    }

    http://readarr.kanbaru.home {
      reverse_proxy /* readarr:8787 {
        header_up X-Forwarded-Host {host}:8787
        header_up -Origin
        header_up -Referer
      }
    }

    http://qbittorrent.kanbaru.home {
      reverse_proxy /* qbittorrent:8080 {
        header_up X-Forwarded-Host {host}:8080
        header_up -Origin
        header_up -Referer
      }
    }

    http://flood.kanbaru.home {
      reverse_proxy /* flood:3000 {
        header_up X-Forwarded-Host {host}:3000
        header_up -Origin
        header_up -Referer
      }
    }

    http://jellyseerr.kanbaru.home {
      reverse_proxy /* jellyseerr:5055 {
        header_up X-Forwarded-Host {host}:5055
        header_up -Origin
        header_up -Referer
      }
    }

    http://komga.kanbaru.home {
      reverse_proxy /* komga:8097 {
        header_up X-Forwarded-Host {host}:8097
        header_up -Origin
        header_up -Referer
      }
    }
