---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  selector:
    matchLabels:
      app: grafana-pod
  template:
    metadata:
    spec:
      initContainers:
        - name: loki-init
          image: docker.io/grafana/loki:3.5.8
          command: ["chown", "10001:10001", "/loki"]
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          volumeMounts:
            - name: loki_data
              mountPath: /loki

      containers:
        - name: loki
          hostname: loki
          image: docker.io/grafana/loki:3.5.8
          restartPolicy: unless-stopped
          volumeMounts:
            - name: loki_data
              mountPath: /loki
            - name: loki_configmap
              mountPath: /etc/loki

        - name: alloy
          hostname: alloy
          image: docker.io/grafana/alloy:v1.10.2
          args: [
            "run",
            "--server.http.listen-addr=0.0.0.0:12345",
            "--storage.path=/var/lib/alloy/data",
            "/etc/alloy/config.alloy"
          ]
          restartPolicy: unless-stopped
          volumeMounts:
            - name: alloy_configmap
              mountPath: /etc/alloy
          ports:
            # debug UI
            # - containerPort: 12345
            #   hostPort: 30001
            - containerPort: 60514
              hostPort: 60514
              protocol: udp

        - name: grafana
          hostname: grafana
          image: docker.io/grafana/grafana:12.1.1
          restartPolicy: unless-stopped
          volumeMounts:
            - name: grafana_data
              mountPath: /var/lib/grafana
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: homelab-secrets
                  key: GF_SECURITY_ADMIN_PASSWORD
          # ports:
          #   - containerPort: 3000
          #     hostPort: 30000

      volumes:
        - name: loki_data
          persistentVolumeClaim:
            claimName: loki-data

        - name: loki_configmap
          configMap:
            name: loki-configmap

        - name: alloy_configmap
          configMap:
            name: alloy-configmap

        - name: grafana_data
          persistentVolumeClaim:
            claimName: grafana-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-data
spec:
  storageClassName: manual
  accessMode:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
spec:
  storageClassName: manual
  accessMode:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
