---
apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-configmap
data:
  valkey.conf: |
    # set shorter TCP keepalive timeout
    tcp-keepalive 30

    # Disk persistence
    # Save every 3600 seconds if at least 1 write happened
    # or every 300 seconds if at least 100 writes happened
    # or every 60 seconds if at least 10000 writes happened
    save 3600 1 300 100 60 10000

    # Memory usage
    maxmemory 1GB
    maxmemory-policy allkeys-lru
