---
name: Run linters
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate YAML file
        run: yamllint --strict $(git ls-files '*.yaml' '*.yml')
